.unitateak:hover {
    fill: #777;
}

.eskualde-mugak {
    fill: none;
    stroke: #777;
    stroke-width: 0.5px;
    stroke-linejoin: round;
}

.kanpo-mugak {
    fill: none;
    stroke: #777;
    stroke-width: 2px;
    stroke-linejoin: round;
}

#kontainerra {
    margin: 0 auto 0 auto;
    width: 680px;
    position: relative;
    height: 1000px;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 16px;
}

#mapa {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hasierako-mezua {
    text-align: center;
    margin-top: 10px;
}

.daturik-ez {
    display: none; /* Hasieran ezkutuan */
    text-align: center;
    margin-top: 10px;
}

.datuak {
    visibility: hidden; /* Hasieran ezkutuan */
    width: 580px;
    height: 310px;
    margin-left: auto;
    margin-right: auto;
}

#unitatea-izena {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.datuak-taula {
    float: left;
    margin-left: 50px;
    margin-top: 20px;
}

.datuak-taula .eskuinekoa {
    text-align: right;
}

.emaitzak-taula {
    float: right;
    margin-right: 25px;
    margin-top: 20px;
}

.emaitzak-taula .kolorea {
    display: inline-block;
    height: 15px;
    margin-right: 5px;
    width: 15px;
}

.emaitzak-taula .izena {
    width: 80px;
}

.emaitzak-taula .botoak {
    text-align: right;
    width: 60px;
}

.emaitzak-taula .ahulkiak {
    text-align: right;
    width: 30px;
}

.emaitzak-taula .aldea {
    text-align: right;
    width: 50px;
}
.datuen-taula table {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 13px;
}
.datuen-taula thead tr {
    background-color: #b50000;
    color: #fff;
}
.datuen-taula tbody tr {
    border-bottom: 2px solid #ddd;
    text-align: right;
}
.datuen-taula tbody tr td:first-child, .datuen-taula thead tr th:first-child {
    text-align: left;
    padding-left: 5px;
}
.datuen-taula tbody tr td, .datuen-taula thead tr th {
    padding-left: 5px;
}
.datuen-taula td, .datuen-taula th {
    padding-top: 5px;
    padding-bottom: 5px;
}
