#kontainerra {
    margin: 0 auto 0 auto;
    width: 680px;
    position: relative;
    height: 1000px;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 16px;
}
.c3-chart-arcs-title {
    font-size: 24px;
    font-weight: bold;
}
.unitatea {
    width: 24%;
    display: inline-block;
}
.etiketa {
    margin-top: -80px;
    text-align: center;
    font-weight: bold;
}
.datuak-taula .irudia img {
	width: 30px;
}

.datuak-taula .botoak {
	text-align: right;
	width: 60px;
}

.datuak-taula .ahulkiak {
	text-align: right;
	width: 30px;
}

.datuak-taula .aldea {
	text-align: right;
	width: 50px;
}

.datuak-taula .eskuina {
	text-align: right;
}
